@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans';
}

:root {

    --back: #1a1c1e;
    --lightdark: #2f3338;
    --highlight: #3f444c;
    --border: #5e616a;
    --black: #000;
    --white: #fff;
    --gold: #ffb81a;
    --blue: #447BBE;
}

.solid {
    border: 0;
    border-top: .2px solid #656970;
}

.container {
    display: flex;
    gap: .2em;
    height: 200em;
    background: var(--back);
}

.sidebar {
    width: 12em;
    height: 100%;
    background: var(--lightdark);
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sidebar-links a {
    color: var(--white);
    text-decoration: none;
}

.link {
    padding: .6em;
    width: 10em;
    display: flex;
    align-items: center;
    gap: 1em;
    border-radius: 25px;
    border: 0;
    background: var(--lightdark);
}

.link-active {
    padding: .6em;
    background: var(--lightdark);
    width: 10em;
    display: flex;
    align-items: center;
    gap: 1em;
    border-radius: 25px;
    border: 2px solid var(--border);
}

.link:hover {
    background: var(--highlight);
    transition: .1s ease;
}

.link img {
    width: 1.8em;
    height: auto;
    padding-left: 1em;
}

.link-active img {
    width: 1.8em;
    height: auto;
    padding-left: 1em;
}

.sidebar-logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

.sidebar-logo img {
    height: auto;
    width: 1.8em;
}

.sidebar-logo a {
    color: var(--white);
    text-decoration: none;
}

.navbar {
    display: none;
    height: 4em;
    align-items: center;
    justify-content: space-around;
    background: var(--back);
}

.nav-logo {
    display: flex;
    gap: 1em;
}

.nav-logo img {
    height: auto;
    width: 1.4em;
}

.nav-logo a {
    color: var(--white);
    text-decoration: none;
}

.nav-menu {
    background: var(--lightdark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-menu a {
    color: var(--white);
    text-decoration: none;
}

.nav-link {
    background: var(--highlight);
    border-radius: 25px;
    padding: .6em;
    width: 12em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em;
    border: 0;
}

.nav-link-active {
    background: var(--highlight);
    border-radius: 25px;
    padding: .6em;
    width: 12em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em;
    border: 2px solid var(--border);
}

.nav-link img {
    width: 1.8em;
    height: auto;
}

.nav-link-active img {
    width: 1.8em;
    height: auto;
}

.hamburgher {
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
}

@media (max-width: 320px) {
    .nav-logo p {
        display: none;
    }

    .navbar-error {
        height: 4em;
    }

    .sidebar {
        display: none;
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .navbar-error {
        height: 4em;
    }

    .navbar {
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .hamburgher {
        display: block;
        z-index: 5;
    }

    .hamburgher.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburgher.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburgher.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4em;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20em;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }
}

.content {
    width: 100%;
    height: 50em;
    padding: 2em 2em 2em 2em;
}

.content-1 {
    display: flex;
    gap: 2em;
}

.content-1-a {
    background: var(--lightdark);
    height: 18em;
    width: 50%;
    border-radius: 25px;
    padding: 2em;
}

.content-1-b {
    background: var(--lightdark);
    height: 18em;
    width: 50%;
    border-radius: 25px;
    padding: 2em;
}

.content-title {
    color: var(--white);
    padding: 1em 0 1em 0;
    font-weight: 500;
}

.graph {
    display: flex;
    flex-direction: row;
    gap: .3em;
    justify-content: space-around;
    align-items: flex-end;
}

.graph-dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.graph-dates p {
    color: #ccc;
    font-size: .7em;
    padding-top: 1em;
}








.useful-links {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.useful-link {
    display: flex;
    align-items: center;
    gap: 1em;
    background: var(--highlight);
    padding: .8em 1.2em .8em 1.2em;
    border-radius: 50px;
    width: 8em;
    border: 2px solid var(--border);
}

.useful-link a {
    color: var(--white);
    text-decoration: none;
}

.useful-link img {
    width: 1.8em;
    height: auto;
}